*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color);
}

.header{
    top: 0;
    left: 0;
    width: 100%;
}

.navbar{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    height: 40px;
}

.navList{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin: 0;
    list-style: none;
    font-size: 23px;
    background-color: #B6AFA5;
}

.navList li:hover {
    color: red;
}

.search{
    background-color:#B6AFA5 ;
    padding: 8px 16px;
    border-radius: 20px;
    color: var(--text-color); 
    font-size: 19px;
}

.link{
    text-decoration: none;
    color: inherit;
}
